<?xml version="1.0" encoding="UTF-8" ?>
<container
	xmlns="http://symfony.com/schema/dic/services"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web-profiler="http://symfony.com/schema/dic/webprofiler"
	xsi:schemaLocation="
		http://symfony.com/schema/dic/services    http://localhost/ITC/workspace/Schema/Symfony/services-1.0.xsd
		http://symfony.com/schema/dic/webprofiler http://localhost/sk.itcloud.itc.facade/src/Xsd/Symfony/">

	<imports>
		<import resource="../config.xml" />
		<import resource="parameters.xml" />
	</imports>

	<web-profiler:config
		toolbar="%webprofiler.toolbar%"
		position="%webprofiler.position%"
		intercept_redirects="%webprofiler.intercept_redirects%"
		excluded_ajax_paths="%webprofiler.excluded_ajax_paths%" />

</container>