.layout {
	width: 70%;
	padding: 0px;
	margin: 0px auto;
	color: #626262;
	font-size: 12px;
	font-family: Arial;
	width: 50%;
}

a {
	color: #000;
}

.cleaner {
	display: block;
	clear: both;
	float: none;
	height: 0px;
	font-size: 0px;
	padding: 0px;
	marign: 0px;
	clear: both;
}

.cleaner:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.auto-list {
	
}

.auto-list .item {
	width: 30%;
	height: 100%;
	background-color: #f9f8f8;
	border: 1px solid #CCC;
	float: left;
	margin: 0px 1% 0px 0px;
	padding: 0em 1% 0em 1%;
}

.auto-list .item img {
	width: 100%;
	border: none;
}

.auto-list .item .price {
	color: #FFF;
	position: relative;
	text-align: center;
	top: -12px;
	width: 60%;
	height: 23px;
	background-image: url(../images/recommend-list-item-price-bg.png);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	padding: 0px 10px 0px 0px;
}

.auto-list .item .price div {
	background-color: #000;
	height: 19px;
	vertical-align: middle;
	padding: 4px 0px 0px 0px;
}

.auto-list.recommend {
	
}

.auto-list.recommend .item {
	width: 22%;
}

.auto-list.recommend .item.banner {
	margin: 0px 0% 0px 0px;
	border: none;
}

.auto-list.recommend h1 {
	font-size: 1em;
}

.auto-list.recommend h2 {
	font-size: 0.9em;
}

.auto-list.recommend h3 {
	font-size: 0.8em;
}